dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
*.DS_Store
talk/Output/*.*
*.synctex.gz
*.pdf


  talk/onlineatps.bbl
  talk/onlineatps.blg
  talk/onlineatps.fdb_latexmk
  talk/onlineatps.fls
  talk/onlineatps.log
  talk/onlineatps.nav
  talk/onlineatps.out
  talk/onlineatps.snm
  talk/onlineatps.toc
  talk/onlineatps.vrb
